/**************************
    GENERAL STYLES 
***************************/


/*section {
	width: 100%;
	height: 500px;
}
*/
.windowHeight { height: 900px; }

body {
	color: #72686C;
	font-size:100%;
}

.sectionTitle {
	font-size:2rem;
	color: #fff;
	position:absolute;
	text-align: center;
	font-family: 'Karla', sans-serif;
	font-weight:700;
}

.sectionSubtitle {
	font-size:1.5rem;
	color: #fff;
	position:absolute;
	text-align: center;
	font-family: 'Karla', sans-serif;
	font-weight:400;
	line-height:1.7rem;
}

/*  empty tag where javascript will add the height: of the current window  */
.windowHeight {

}


/****************************
	HEADER STYLE 
*************************/
header {
	height: 500px;
	position: relative;
	background:#000;
	background-size: cover;
	background-image: url(../images/background_header.jpg);
	overflow: hidden;
}

#nav_list {
	color: white;
	
}

#nav_list li {
	margin-left: 15px;
}

#nav_list a:link {
    color: #e2d1c1;
    text-decoration: none;

}

#nav_list a:hover {
	color: white;
}

#sm li {
margin-left: 5px;

}

#language {
	width: 70px;
	height: 20px;
	float: left;

}


.fa-facebook {
	color: white;
	margin-top: 10px;
	margin-right: 5px;
}

.fa-instagram {
	color: white;
	margin-top: 10px;
	margin-right: 5px;
}

.fa-google-plus {
	color: white;
	margin-top: 10px;
	margin-right: 5px;
}

.fa-pinterest {
	color: white;
	margin-top: 10px;
	margin-right: 5px;
}

.sectionTitle.header {
	width: 500px;
	top:510px;
	left:50%;
	margin-left:-250px;
}

.sectionSubtitle.header {
	width: 500px;
	top:570px;
	left:50%;
	margin-left:-250px;
}

#mainlogo {
	margin: 0 auto;
	display: block;
	position: absolute;
	top:50px;
	left:50%;
	margin-left: -208px;
}

.potatoe {
	position:absolute;
	left:-25px;
	top:430px;
}

.hummus {
	position: absolute;
	left:20px;
	top:100px;
}

.meat {
	position:absolute;
	top:50px;
	right:-25px;
}

.sushi {
	position:absolute;
	top:500px;
	right:50px;
}
#tabs {
	width: 100%;
	height: 50px;
	padding: 10px 20px;
}

#nav_list {
	width: 100%;
	text-align: right;

}

#tabs li{
	display: inline-block;

}

#sm {
	float: right;
}

/**************************
   SECTION MAP STYLES 
***************************/

#map {
	background-color: #e4682a;
	position:relative;
}

.sectionTitle.map {
	width: 800px;
	top:50px;
	left:50%;
	margin-left:-400px;
	color:#000;
	z-index:999;
}

.sectionSubtitle.map {
	width: 500px;
	top:90px;
	left:50%;
	margin-left:-250px;
	color:#000;
	z-index:999;
}

.imgMap {
	position:absolute;
	top:250px;
	left:50%;
	margin-left:-458px;
}


/**************************
   SECTION MEALS STYLES 
***************************/

#meals {
	background:#000;
	background-size: cover;
	background-image: url(../images/background_header.jpg);
	overflow: hidden;
	position: relative;
}

.meals_centerer {
	width:1000px;
	margin:0px auto;
	position:relative;
	margin-top:80px;
}

.sectionTitle.meals {
	width: 500px;
	top:0px;
	left:0px;
	text-align:left;
}

.sectionSubtitle.meals {
	width: 500px;
	top:50px;
	left:0px;
	text-align:left;
}

#menu_choices {
	position:absolute;
	top:115px;
	left:0px;
	width:500px;
}

#menu_choices li {
	float:left;
	margin-right:15px;
	margin-bottom:15px;
}

#menu_choices li img {
	width:150px;
	height:150px;
	border:#fff solid 2px;
}

#order {
	background:#fff;
	width:400px;
	height:600px;
	position:absolute;
	top:0px;
	right:0px;
	padding:30px;
}

.logoSmall {
	text-align:center;
}

.orderList {
	margin-top:20px;
}

.orderList li {
	font-family: 'Karla', sans-serif;
	font-weight:700;
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom:#000 dotted 1px;
	color:#000;
}

.orderList li span {
	float:right;
}

#confirm {
	position:absolute;
	bottom:-80px;
	left:0px;
	height:70px;
	width:400px;
	border:#fff solid 1px;
	color:#fff;
	font-family: 'Karla', sans-serif;
	font-weight:400;
	background:rgba(0, 0, 0, 0);
	font-size:1.2rem;
}

/**************************
   SECTION DESIGN STYLES 
***************************/
#design {
	background-color: #F5851F;
	position:relative;
	overflow:hidden;
}

#slides {
	display:none;
}


.slidesjs-pagination {
	display:none;
}



.slidesjs-previous {
  position:absolute;
  top:300px;
  left:100px;
  display:block;
  z-index:999;
  width:128px;
  height:128px;
  font-size:0;
  cursor:pointer;
  background:url(../images/prev.png) no-repeat;
}

.slidesjs-next {
  position:absolute;
  top:300px;
  right:100px;
  z-index:999;
  width:128px;
  height:128px;
  font-size:0;
  display:block;
  cursor:pointer;
  background:url(../images/next.png) no-repeat;
}

.slidesjs-play {
	display:none;
}

.slidesjs-stop {
	display:none;
}

/**************************
   SECTION BOOK STYLES 
***************************/
#book {
	background-color:#FF7400;
	position: relative;
	background:#000;
	background-size: cover;
	background-image: url(../images/background_header.jpg);
	position:relative;
	overflow:hidden;
}

#book_container {
	margin: 0px auto;
	margin-top:160px;
	width: 600px;
	height: 500px;
	overflow:hidden;
}

#card {
	width: 600px;
	height: 350px;
	background-color: white;
	border-radius: 10px;
	margin:0px auto;
	padding:30px;
	position:relative;
}

#card h2 {
	font-family: 'Karla', sans-serif;
	font-weight:400;
	color:#f64700;
	font-size:1.1rem;
	margin-bottom:5px;
}

#card h3 {
	
	font-family: 'Karla', sans-serif;
	font-weight:400;
	color:#000;
	font-size:1.6rem;
	margin-bottom:15px;
}

.total_price {
	width: 100px;
	height: 100px;
	color:#000;
	font-family: 'Karla', sans-serif;
	font-weight:400;
	position:absolute;
	top:20px;
	right:20px;
	text-align:center;
}


.book_btn {
	width: 200px;
}

.total_price span {
	font-size:2.6rem;
}

.sectionTitle.book {
	width: 800px;
	top:50px;
	left:50%;
	margin-left:-400px;
	color:#fff;
}

.sectionSubtitle.book {
	width: 500px;
	top:90px;
	left:50%;
	margin-left:-250px;
	color:#fff;
}

.button {
	width: 600px;
	height: 70px;
	border-radius: 10px;
	border:0;
	margin:20px auto;
	display:block;
	background-color:#fa5f0b;
	font-size:1.2rem;
}


/**************************
   		BOOK POPUP FORM
***************************/
#form_container {
	width: 600px;
	height:600px;
	border-radius:10px;
	background-color: #fff;
	overflow:hidden;
	position:absolute;
	top:200px;
	left:50%;
	margin-left: -300px
}

#form {
	margin: 20px auto;

}

input, select {
	border: solid 1px #bebebe;
	width: 450px;
	height: 60px;
	border-radius:3px;
	font-size: 14px;
	color:#424242;
	margin:10px auto;
	padding-left:10px; 
	display:block;

}

/********************************
   SECTION CONTACT + FOOTER STYLES 
*********************************/

#contact {
	background-color:#F46844;
	position: relative;
}

.info_container {
	width: 900px;
	height: 600px;
	margin: 0 auto;
}

#info {
	margin: 20% 7%;
	width: 300px;
	height: 200px;
}

.adress {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: left;
}

.hours {
	margin-top: 11%;
}

.location {
	margin: 0 auto;
	display: inline-block;
	float:left;
	width: 300px;
	height: 250px;
}

.floating {
  float: left;
  width: 46.5%;
  margin-left: 7%;
}
.floating:nth-child(2n + 1) {
   margin-left: 0;
   margin-top: 17%;
}

footer  {
	width: 100%;
	height: 50px; 
	background-color: #ECD615;
	position: absolute;
	bottom: 0;
	padding: 10px 20px;
}

#sm_footer {
	float:right;
}

#sm_footer li {
	display: inline-block;
	padding-left: 5px;
}



