/**************************
    GENERAL STYLES 
***************************/

section {
	width: 100%;
	height: 500px;
}

body {
	color: #72686C;
	font-size:100%;
}

.sectionTitle {
	font-size:2rem;
	color: #fff;
	position:absolute;
	text-align: center;
	font-family: 'Karla', sans-serif;
	font-weight:700;
}

.sectionSubtitle {
	font-size:1.5rem;
	color: #fff;
	position:absolute;
	text-align: center;
	font-family: 'Karla', sans-serif;
	font-weight:400;
	line-height:1.7rem;
}

/*  empty tag where javascript will add the height: of the current window  */
.windowHeight {

}


/****************************
	HEADER STYLE 
*************************/
header {
	height: 500px;
	background-color: #AD796C;
	position: relative;
	background:#000;
	background-size: cover;
	background-image: url(../images/background_header.jpg);
	overflow: hidden;
}

.sectionTitle.header {
	width: 500px;
	top:510px;
	left:50%;
	margin-left:-250px;
}

.sectionSubtitle.header {
	width: 500px;
	top:570px;
	left:50%;
	margin-left:-250px;
}

#mainlogo {
	margin: 0 auto;
	display: block;
	position: absolute;
	top:50px;
	left:50%;
	margin-left: -208px;
}

.potatoe {
	position:absolute;
	left:-25px;
	top:430px;
}

.hummus {
	position: absolute;
	left:20px;
	top:100px;
}

.meat {
	position:absolute;
	top:50px;
	right:-25px;
}

.sushi {
	position:absolute;
	top:500px;
	right:50px;
}
#tabs {
	width: 100%;
	height: 50px;
}

#nav_list {
	width: 100%;
	text-align: right;

}

#tabs li{
	display: inline-block;

}

#sm {
	float: right;
}

/**************************
   SECTION MAP STYLES 
***************************/

#map {
	background-color: #c2c2c2;
	position:relative;
}

.sectionTitle.map {
	width: 800px;
	top:80px;
	left:50%;
	margin-left:-400px;
	color:#000;
}

.sectionSubtitle.map {
	width: 500px;
	top:120px;
	left:50%;
	margin-left:-250px;
	color:#000;
}

.imgMap {
	position:absolute;
	top:250px;
	left:50%;
	margin-left:-458px;
}

/**************************
   SECTION MEALS STYLES 
***************************/

#meals {
	background-color: #E3C892;
}

/**************************
   SECTION DESIGN STYLES 
***************************/
#design {
	background-color: #F5851F;
}
/**************************
   SECTION BOOK STYLES 
***************************/
#book {
	background-color:#94B75B;
}

/**************************
   SECTION CONTACT STYLES 
***************************/

#contact {
	background-color:#F46844;
}

/**************************
   SECTION FOOTER STYLES 
***************************/

footer {
	width: 100%;
	height: 50px;
	background-color: #ECD615;
}

footer select  {
	float: left;
}

#sm_footer {
	float:right;
}

#sm_footer li {
	display: inline-block;
}